<div class="logs-list-container">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px;">
    <h4 style="margin: 0; color: #000000; ">YOUR TOUR LOGS</h4>
    <button type="button" style="padding: 8px 18px; background: rgba(110, 219, 80, 0.8); color: rgb(0, 0, 0); border: 1.5px solid #000000; border-radius: 8px; font-size: 14px; font-weight: 500; cursor: pointer;
    ">+ add tour log</button>
  </div>

  <div style="display: flex; flex-direction: column; gap: 8px;">
    @for (log of filteredLogs(); track log.id) {
      <div (click)="selectLog(log)" 
           style="padding: 10px; border: 1px solid #eee; border-radius: 8px; cursor: pointer; transition: all 0.2s;"
           onmouseover="this.style.backgroundColor='#f8f9fa'" 
           onmouseout="this.style.backgroundColor='transparent'">
        <div style="display: flex; justify-content: space-between; font-size: 13px; font-weight: 600;">
          <span>{{ log.dateTime | date:'dd MMM yyyy' }}</span>
          <span style="color: #ffc107;">{{ log.rating }} ★</span>
        </div>
        <div style="font-size: 12px; color: #777; margin-top: 4px;">
          {{ log.totalDistance }} km • {{ log.difficulty }}
        </div>
      </div>
    } @empty{
        <p style="text-align: center; color: #bbb; margin-top: 20px;">NO PREVIOUS TOUR LOGS FOR THIS TOUR</p>
    }
  </div>
</div>